body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5dc;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 0 2em 0;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}
header {
    text-align: center;
    margin: 2em 0 1em 0;
}
.search {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
.search__bar {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.search__button {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e6e6e6;
}
.sort {
    margin: 1em 0;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
.book-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    width: 100%;
    max-width: 600px;
    padding: 0 1em;
    box-sizing: border-box;
    justify-content: center;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    text-align: center;
}

.book-item {
    border: 1px solid #ccc;
    padding: 1.5em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fffaf0;
    border-radius: 10px;
}
.book-item__title, .book-item__author, .book-item__genre {
    margin: 0.5em 0;
}
.no-results {
    color: red;
    font-size: 1.2em;
    text-align: center;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
}
@media () {
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5dc;
        color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-position: center;
        margin: auto;
        min-height: 100vh;
        justify-content: center;
        text-align: center;
    }
    .book-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .search__bar, .search__button {
        width: 100%;
    }
    .book-item {
        width: 100%;
    }
}
